<h1>Hi <%= @interview.candidate.name %></h1>

<p>
  Your interview details,
  Start Date: <%= @interview.start_date %>
  Start Time: <%= @interview.start_time %>
  End Date: <%= @interview.end_date %>
  End Time: <%= @interview.end_time %>
</p>